{{ define "main" }}
<div class="main">
  <div class="row">
    <div class="col-md-7">
        <h3>Quiénes somos</h3>
        <p>El RadioClub E.I.T de la Escuela Técnica Superior de Ingenieros de Telecomunicación de la UPM es el club con más espíritu teleco. Nuestro objetivo es aprender de la tecnología, la radioafición, la electrónica y hacer realidad proyectos nuevos por medio de grupos de trabajo.</p>
        <p>Durante todos estos años de vida, siendo uno de los clubs más antiguos de la ETSIT UPM, se han muchos proyectos. Nuestras antenas, transmisores de radio, componentes, herramientas, etc. hace que sea el espacio perfecto para todas las personas entusiastas y con inquietudes de la universidad.</p>
        <p><b>Si quieres ser un auténtico ingeniero de telecomuncaciones, apuntate! Este es tu espacio!</b></p>
    </div>

    <div class="col-md-5">
      <h3>Próximas Actividades</h3>
      <ul>
        {{ range where .Pages.ByDate "Params.category" "actividades" }}
          {{ if .Date.After now }}
            <li><span>{{ .Date.Format "2 Jan 2006" }}</span> &raquo; <a href="{{ .URL }}">{{ .Title }}</a></li>
          {{ end }}
        {{ end }}
      </ul>
      <p><a href="/activities" class="button">Ver las actividades</a></p>
	    <h3>Blog</h3>
      <ul>
        {{ range first 3 (where .Pages "Params.category" "blog") }}
          <li><a href="{{ .URL }}">{{ .Title }}</a></li>
        {{ end }}
      </ul>
      <p><a href="/blog" class="button">Ver blog</a></p>
    </div>
  </div>
</div>
{{ end }}
