
{{ define "main" }}
  <div class="main" role="main">
    <article class="article about">
      <img src="/about/garito.jpg">

      <h1 class="article-title">About</h1>
      <hr class="article-title-bottom">


      <!-- {{ .Content }} -->


      <div class="row">
        <div class="col-md-7">

        <p>Tanto en nuestra presencia online como física tenemos normas de convivencia. Todos los integrantes de La Jaquería pretendemos construir en común, y aportamos nuestro granito de arena en pos de mejorar la sociedad en la que vivimos. Cuando un integrante, o un externo, no viene con la voluntad de construir, tenemos la obligación de proteger a los que aportan. Esto está alineado con nuestros objetivos a largo plazo.</p>

        </div>
        <div class="col-md-4">

          <h4>Redes sociales</h4>

          {{ partial "social.html" . }}

          <h4>Información de contacto</h4>

          {{ if (and (.Site.Params.about.localizacion) (.Site.Params.about.codigopostal)) }}
          <div class="row">
            <div class="col-xs">
            <i class="fas fa-map-marker-alt"></i>
            </div>
            <div class="col-lg">
            {{ .Site.Params.about.localizacion }} {{ .Site.Params.about.codigopostal }}
            </div>
          </div>
          {{ end }}

          {{ if .Site.Params.about.metro }}
          <div class="row">
            <div class="col-xs">
            <i class="fas fa-subway"></i>
            </div>
            <div class="col-lg">
            {{ .Site.Params.about.metro }}
            </div>
          </div>
          {{ end }}

          {{ if .Site.Params.about.horario }}
          <div class="row">
            <div class="col-xs">
            <i class="far fa-calendar"></i>
            </div>
            <div class="col-lg">
              {{ .Site.Params.about.horario }}
            </div>
          </div>
          {{ end }}

          {{ if .Site.Params.about.email }}
          <div class="row">
            <div class="col-xs">
            <i class="fas fa-envelope"></i>
            </div>
            <div class="col-lg">
              {{ .Site.Params.about.email }}
            </div>
          </div>
          {{ end }}

          {{ if .Site.Params.about.telefono }}
          <div class="row">
            <div class="col-xs">
            <i class="fas fa-phone"></i>
            </div>
            <div class="col-lg">
              {{ .Site.Params.about.telefono }}
            </div>
          </div>
          {{ end }}

        </div>
      </div>

    </article>
  </div>
{{ end }}
