
{{ define "main" }}
  <div class="main" role="main">
    <div class="row">
        <div class="col-md-6">

            <h2>Próximos eventos</h2>
            <ul>
                {{ range .Pages.Reverse.ByParam "startDate" }}
                  {{ if now.Before (time .Params.startDate) }}
                    <li><span>{{ dateFormat "02 Jan 2006" .Params.startDate }}</span> &raquo; <a href="{{ .URL }}">{{ .Title }}</a></li>
                  {{ end }}
                {{ end }}
            </ul>

            <h2>Anteriores eventos</h2>
            <ul>
              {{ range .Pages.ByParam "startDate" }}
                {{ if now.After (time .Params.startDate) }}
                  <li><span>{{ dateFormat "02 Jan 2006" .Params.startDate }}</span> &raquo; <a href="{{ .URL }}">{{ .Title }}</a></li>
                {{ end }}
              {{ end }}
            </ul>
        </div>

      <div class="col-md-6">
    	<h2>Calendario de actividades</h2>
      <p><a href="https://calendar.google.com/calendar?cid=ZWE0cmN0Lm9yZ19oNjVidW1obzRydGRwNWRsYmtpajFodWxmY0Bncm91cC5jYWxlbmRhci5nb29nbGUuY29t"> Subscríbete a nuestro calendario </a> para estar siempre informado de todas las actividades que realizamos en el RadioClub, de las actividades de interés en la ETSIT UPM y de las activades de Radio de la zona!</p>
      <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;mode=AGENDA&amp;height=400&amp;wkst=2&amp;bgcolor=%23FFFFFF&amp;src=ea4rct.org_h65bumho4rtdp5dlbkij1hulfc%40group.calendar.google.com&amp;color=%23691426&amp;ctz=Europe%2FMadrid" style="border-width:0" width="500" height="400" frameborder="0" scrolling="no"></iframe>
      </p>
      </div>
    </div>
  </div>
{{ end }}
