
{{ define "main" }}
  <div class="main" role="main">
    <div class="row">
        <div class="col-md-8">

            <h2>Próximos eventos</h2>
            <ul>
                {{ range .Pages.ByDate }}
                  {{ if .Date.After now }}
                    <li><span>{{ .Date.Format "02 Jan 2006" }}</span> &raquo; <a href="{{ .URL }}">{{ .Title }}</a></li>
                  {{ end }}
                {{ end }}
            </ul>

            <h2>Anteriores eventos</h2>
            <ul>
              {{ range .Pages.ByDate }}
                {{ if .Date.Before now }}
                  <li><span>{{ .Date.Format "02 Jan 2006" }}</span> &raquo; <a href="{{ .URL }}">{{ .Title }}</a></li>
                {{ end }}
              {{ end }}
            </ul>
        </div>

        <div class="col-md-4">
    	<h2>Te apuntas?</h2>
    	Las sesiones temáticas estan destinadas a la puesta en común de un conjunto de herramientas (mentales, digitales, ...) que nos
    	permitan trabajar juntos. La asistencia es libre para socios y la Comunidad Educativa del Colegio Liceo Erasmus, pero estamos
    	abiertos a la participación (exponer proyectos, difundir tecnologías de preferencia, ...) de todas aquellas personas que quieran
    	integrarse en esta comunidad.
        </div>

    </div>
  </div>
{{ end }}
